* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    font-family: 'Poppins';
    /* background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 10%, #C850C0 46%, #FFCC70 100%); */
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    margin: 15;
}


/* background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */